# Running R scripts within notebook in AzureML studio
Make sure you select the R kernel on the top right corner.
> Note: R SDK is deprecated. You should use cli v2 to run R scripts.

In [1]:
library(azuremlsdk)
ws <- load_workspace_from_config()

In [2]:
ds_acsanalytics <- get_dataset_by_name(ws, "churn-training-GR", version = "latest")
df_acsanalytics <- load_dataset_into_data_frame(ds_acsanalytics)

In [4]:
head(df_acsanalytics)

  id         customer_tenure product_tenure activity_last_6_months
1 user_00000  1               1             706
2 user_00001 34              34             939
3 user_00002  2               2             698
4 user_00003 45              15             737
5 user_00004  2               2               9
6 user_00005  8               8             700
  activity_last_12_months churned
1  706                    FALSE
2 2016                    FALSE
3  698                     TRUE
4 1692                    FALSE
5    9                     TRUE
6 2002                     TRUE